.main-page {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    margin-top: 0;
    overflow: hidden;
}

.main-page-table-of-contents {
    margin-left: 16px;

    @include for-e-large-up() {
        margin-left: 70px;
        margin-right: 70px;
    }

    &__work {
        position: relative;
        margin-top: 180px;
        padding-bottom: 420px;
        margin-right: 16px;

        @include for-medium-up() {
            padding-bottom: 269px;
        }

        &__headling {
            position: relative;
            @include headlines(52px, $mainColorText, $FontText);
            margin: 0;
            max-width: 354px;
            z-index: 10;

            @include for-large-up() {
                max-width: 1290px;
                width: 100%;
                font-size: 70px;
            }

            &::before {
                position: absolute;
                bottom: 5px;
                left: 160px;
                content: '';
                width: 54px;
                height: 54px;
                background: linear-gradient(180deg, #3FC8E7 -28.24%, #041A1F 116.67%);
                border-radius: 50%;
                z-index: -1;

                @include for-very-small-up() {
                    left: 55px;
                }

                @include for-large-up() {
                    left: 255px;
                    bottom: 20px;
                }
            }
        }

        &__text {
            position: relative;
            color: $mainColorText;
            font-family: $FontText;
            font-size: 18px;
            line-height: 140%;
            font-weight: normal;
            margin-bottom: 0;
            max-width: 354px;
            z-index: 10;

            @include for-large-up() {
                max-width: 518px
            }
        }

        &__button {
            position: relative;
            @include button(85px, 9px, 353px, 42px);
            width: 100%;
            z-index: 10;

            margin-top: 44px;

            @include for-small-up() {
                max-width: 343px;
            }
        }

        &__wrapper-line {
            position: absolute;
            bottom: 300px;

            @include for-small-up() {
                bottom: 240px;
            }

            @include for-medium-up() {
                bottom: 90px;
            }
        }
    }

    &__about {
        position: relative;
        margin-right: 16px;
        padding-bottom: 309px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 10;

        @include for-medium-up() {
            align-items: flex-start;
            padding-bottom: 269px;
        }

        &__wrapper-line {
            left: 0;
            position: absolute;
            bottom: 216px;

            @include for-small-up() {
                bottom: 240px;
            }

            @include for-medium-up() {
                bottom: 90px;
            }
        }

        &__headling {
            position: relative;
            @include headlines(40px, $mainColorText, $FontText);
            margin: 0;
            z-index: 10;

            @include for-e-large-up() {
                margin-bottom: 44px;
            };

            &::before {
                position: absolute;
                bottom: 10px;
                left: 0;
                content: '';
                width: 34px;
                height: 34px;
                background: linear-gradient(180deg, #3FC8E7 -28.24%, #041A1F 116.67%);
                border-radius: 50%;
                left: 93px;
                z-index: -1;

                @include for-large-up() {
                    left: 285px;
                }
            }
        }

        & svg {
            width: 100%;
            max-width: 727px;
            height: 125px;
            margin: 44px 0;

            @include for-small-up() {
                height: 200px;
            }

            @include for-medium-up() {
                height: 241px;
            }

            @include for-e-large-up() {
                position: absolute;
                right: 0;
                margin-top: 0;
                z-index: -1;
            }
        }

        &__text {
            color: $mainColorText;
            font-family: $FontText;
            font-size: 18px;
            line-height: 140%;
            max-width: 518px;
            font-weight: normal;
            margin-top: 0;
            margin-bottom: 24px;
        }

        &__text:nth-child(4) {
            margin-top: 24px;
        }
    }
}

.main-page-instruments {
    position: relative;
    margin-left: 16px;
    padding-bottom: 140px;
    background-image: url('../../../public/png/daniel-olah-gEta6dbzFy0-unsplash\ 1.png');
    background-repeat: no-repeat;
    background-position: 15% center;
    z-index: 10;


    @include for-medium-up() {
        background-size: 1920px 1800px;
        padding-bottom: 100px;
    }

    @include for-large-up() {
        padding-bottom: 220px;
        min-height: 1008px;
    }

    @include for-e-large-up() {
        padding-bottom: 432px;
        margin-left: 70px;
    }


    &__wrapper-item {
        position: relative;

        &__image {
            position: absolute;
            display: none;
            width: 354px;
            height: 236px;
            transition: all 0.8s ease;

            @include for-large-up() {
                position: absolute;
                display: block;
                right: 20px;
            }

            @include for-e-large-up() {
                width: 621px;
                height: 450px;
                right: 170px;
                z-index: -1;
            }
        }
    }

    &__headling{
        position: relative;
        @include headlines(40px, $mainColorText, $FontText);
        margin-top: 0;
        margin-bottom: 64px;
        margin-right: 16px;
        max-width: 344px;
        z-index: 10;

        @include for-medium-up() {
            max-width: 727px;
        }

        @include for-large-up() {
            max-width: 518px;
            font-size: 50px;
        }

        &::before {
            position: absolute;
            right: 185px;
            bottom: 10px;
            content: '';
            width: 34px;
            height: 34px;
            background: linear-gradient(180deg, #3FC8E7 -28.24%, #041A1F 116.67%);
            border-radius: 50%;
            max-width: 344px;
            z-index: -1;

            @include for-very-small-up() {
                right: 30px;
            }

            @include for-small-up() {
                right: 45px;
            }

            @include for-medium-up() {
                right: 415px;
            }

            @include for-large-up() {
                bottom: 150px;
                right: 75px;
                width: 44px;
                height: 44px;
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 0.5px solid #E9E9E9;
        margin-right: 16px;
        margin-bottom: 24px;
        padding-bottom: 20px;
        min-height: 151px;

        @include for-medium-up() {
            max-width: 362px;
            flex-wrap: wrap;
        }

        @include for-large-up() {
            max-width: 518px;
            width: 100%;
            flex-direction: row;
        }

        &:hover {
            cursor: pointer;

            .main-page-instruments__item__text,
            .main-page-instruments__item__headling {
                color: #128DA9;
            }
        }

        &__wrapper-text {
            max-width: 320px;
        }

        &__headling {
            color: $mainColorText;
            font-family: $FontText;
            font-size: 30px;
            line-height: 140%;
            font-weight: normal;
            margin-top: 0;
            margin-bottom: 16px;
            
        }

        &__text {
            color: $mainColorText;
            font-family: $FontText;
            font-size: 16px;
            line-height: 150%;
            margin: 0;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #128DA9;
            font-family: $FontText;
            font-size: 16px;
            line-height: 150%;
            text-decoration: none;
            max-width: 107px;

            & img {
              margin-left: 10px;
            }
        }

    }
}

.main-page-materials {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 309px;

    @include for-e-large-up() {
        margin-left: 70px;
        margin-right: 70px;
    }

    &__wrapper-line {
        left: 0;
        position: absolute;
        bottom: -110px;

        @include for-small-up() {
            bottom: -200px;
        }

        @include for-medium-up() {
            bottom: -190px;
        }
    }

    &__headling {
        position: relative;
        @include headlines(40px, $mainColorText, $FontText);
        margin-top: 0;
        margin-bottom: 44px;
        font-weight: 500;
        max-width: 343px;
        z-index: 10;

        @include for-medium-up() {
            max-width: 466px;
        }

        @include for-large-up() {
            font-size: 50px;
            max-width: 519px;
        }

        &::before {
            position: absolute;
            bottom: 7px;
            left: 135px;
            content: '';
            border-radius: 50%;
            width: 34px;
            height: 34px;
            background: linear-gradient(180deg, #3FC8E7 -28.24%, #041A1F 116.67%);
            z-index: -1;

            @include for-medium-up() {
                left: 435px;
            }

            @include for-large-up() {
                left: 180px;
                width: 44px;
                height: 44px;
            }
        }
    }

    &__images {
        position: relative;
        margin-bottom: 84px;
        margin-left: 10px;
        height: 140px;
        max-width: 343px;

        @include for-medium-up() {
            position: absolute;
            right: 20px;
            width: 343px;
            margin-top: 0;
            margin-left: 0;
        }

        @include for-large-up() {
            width: 400px;
            height: 100%;
            max-width: 100%;
            right: 70px;
            top: 10px;
        }

        @include for-e-large-up() {
            width: 550px;
            top: 15px;
            right: 200px;
        }

        &__laptop {
            position: absolute;
            width: 250px;
            height: 140px;
            left: -10px;
            background-image: url('../../../public/png/Laptop.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 3;

            @include for-medium-up() {
                width: 258px;
                height: 146px;
                left: 10px;
            }

            @include for-large-up() {
                width: 348px;
                height: 270px;
                top: 65px;
                left: -20px;
            }

            @include for-e-large-up() {
               width: 540px;
               height: 310px;
               left: 10px;
               top: 20px;
            }
        }

        &__ipad {
            position: absolute;
            right: 32px;
            bottom: -66px;
            width: 120px;
            height: 137px;
            background-image: url('/static/iPad\ Pro\ 11.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 1;

            @include for-medium-up() {
                width: 150px;
                height: 150px;
                right: 7px;
                bottom: -80px;
            }

            @include for-large-up() {
                bottom: -10px;
            }

            @include for-e-large-up() {
                width: 217px;
                height: 301px;
                bottom: -115px;
                right: -90px;
            }
        }

        &__iphone {
            position: absolute;
            right: 8px;
            bottom: -25px;
            width: 57px;
            height: 114px;
            background-image: url('../../../public/png/iPhone\ 12\ Pro\ \(1\).png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: 2;

            @include for-medium-up() {
                width: 67px;
                width: 120px;
                right: -45px;
                bottom: -35px;
            }

            @include for-large-up() {
                width: 120px;
                height: 150px;
                right: -60px;
                bottom: 30px;
            }

            @include for-e-large-up() {
                width: 124px;
                height: 200px;
                right: -150px;
                bottom: -15px;
            }
        }
    }

    &__text {
        position: relative;
        color: $mainColorText;
        font-family: $FontText;
        font-size: 16px;
        line-height: 150%;
        max-width: 353px;
        margin-bottom: 0;
        z-index: 10;

        @include for-large-up() {
            max-width: 519px
        }
    }

    &__button{
        @include button(100px, 9px, 353px, 42px);
        width: 100%;
        margin-top: 53px;

        @include for-medium-up() {
            margin-top: 33px;
            max-width: 354px;
        }
    }
} 

.animation-wrapper {
    max-width: 520px;
    width: 100%;
    margin-bottom: 100px;

    @include for-medium-up() {
        position: absolute;
        max-width: 350px;
        width: 100%;
        right: 40px;
        top: 50px;
        height: 300px;
    }

    @include for-large-up () {
        max-width: 520px;
        right: 100px;
    }

    @include for-e-large-up() {
        max-width: 550px;
         right: -50px;
    }
}

.main-page-news {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 182px;

    @include for-small-up() {
        align-items: center;
    }

    @include for-medium-up() {
        align-items: flex-start;
    }

    @include for-e-large-up() {
        margin-bottom: 298px;
        margin-left: 70px;
        margin-right: 70px;
    }

    &__headling {
        position: relative;
        @include headlines(40px, $mainColorText, $FontText);
        margin-bottom: 44px;
        margin-top: 0;
        max-width: 220px;
        z-index: 10;

        &::before {
            position: absolute;
            right: -5px;
            bottom: 5px;
            content: '';
            width: 34px;
            height: 34px;
            background: linear-gradient(180deg, #3FC8E7 -28.24%, #041A1F 116.67%);
            border-radius: 50%;
            z-index: -1;
        }
    }

    &__image {
        width: 100%;
        max-width: 425px;
        height: 274px;
        background-image: url('/static/man-using-laptop-while-sofa-home\ 1\ \(1\).png');
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 44px;

        @include for-small-up() {
            background-position: center;
            background-size: cover;
            max-width: 425px;
        }

        @include for-medium-up() {
            position: absolute;
            right: 0;
            top: 100px;
            max-width: 354px;
            height: 283px;
            background-size: contain;
        }

        @include for-large-up() {
            max-width: 100%;
            width: 420px;
            height: 450px;
            top: 45px;
        }

        @include for-e-large-up() {
            right: -30px;
            top: 0;
            width: 750px;
            height: 600px;
        }
    }

    &__item {
        display: flex;
        background: #2C2C2E;
        border-radius: 2px; 
        padding: 15px 15px 15px 10px;
        color: $mainColorText;
        font-family: $FontText;
        font-size: 18px;
        margin-bottom: 24px;
        max-width: 400px;

        @include for-medium-up() {
            max-width: 330px;
        }

        @include for-large-up() {
            max-width: 495px;
            max-height: 155px;
        }

        &__image {
            display: flex;
            flex-direction: column;
            margin-right: 16px;

            & img {
                max-width: 143px;
                max-height: 110px;
            }

            & span {
                margin-top: 8px;
                font-size: 12px;

                @include for-large-up() {
                    display: none;
                }
            }

            & span:nth-child(2) {
                color: #128DA9 ;
                font-size: 16px;
            }
        }

        &__text {
            margin: 0;

            @include for-large-up() {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & div {
                    display: flex;
                    justify-content: space-between;
                }
            }

            &__headling,
            &__date {
                display: none;

                @include for-large-up() {
                    display: inline
                }
            }

            &__headling {
                color: #128DA9
            }
        }
    }

    &__show {
       @include button(90px, 9px, 378px, 42px);
        width: 100%;

        @include for-small-up() {
            max-width: 425px;
        }

        @include for-medium-up() {
            max-width: 355px;
        }
    }

    & .Collapsible__contentOuter {
        min-height: 440px;

        @include for-large-up() {
            min-height: 410px;
        }
    }
}

.main-page-how-start {
    margin-top: 140px;
    margin-bottom: 900px;

    @include for-medium-up() {
        margin-bottom: 700px;
    }

    @include for-e-large-up() {
        margin-bottom: 400px;
    }

    &__headling {
        position: relative;
        @include headlines(40px, $mainColorText, $FontText);
        max-width: 343px;
        margin: 0;
        margin-left: 16px;
        z-index: 10;

        @include for-small-up() {
            max-width: 364px;
        }

        @include for-e-large-up() {
            margin-left: 70px;
        }

        &::before {
            position: absolute;
            width: 34px;
            height: 34px;
            bottom: 5px;
            right: 200px;
            content: '';
            background: linear-gradient(180deg, #3FC8E7 -28.24%, #041A1F 116.67%);
            border-radius: 50%;
            z-index: -1;

            @include for-small-up() {
                right: -5px;
            }
        }
    }

    &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 44px 0 140px 0;

        @include for-medium-up() {
            height: 345px;
            margin-bottom: 100px;
        }

        @include for-e-large-up() {
            height: 519px;
            margin-left: 70px;
            margin-right: 70px;
        }

        &__center-image {
            position: relative;
            width: 184px;
            height: 97px;
            background-image: url('../../../public/png/Video\ preview.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 10;

            @include for-medium-up() {
                width: 274px;
                height: 144px;
            }

            @include for-large-up() {
                width: 440px;
                height: 236px;
            }

            @include for-e-large-up() {
                width: 640px;
                height: 336px;
            }
        }

        &__left-image {
            top: 300px;
            opacity: 0;
            background-image: url('../../../public/png/Depositphotos_97370862_l-2015\ 3.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            @include for-medium-up() {
                position: absolute;
                left: 16px;
                width: 325px;
                height: 345px;
                z-index: 1;
            }

            @include for-large-up() {
                width: 418px;
                height: 419px;
            }

            @include for-e-large-up() {
                width: 518px;
                height: 519px;
            }
        }

        &__right-image {
            top: 300px;
            opacity: 0;
            background-image: url('../../../public/png/Depositphotos_57901545_s-2019\ 4.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            
            @include for-medium-up() {
                position: absolute;
                right: 16px;
                width: 338px;
                height: 198px;
                z-index: 1;
            }

            @include for-large-up() {
                width: 443px;
                height: 305px;
            }

            @include for-e-large-up() {
                width: 543px;
                height: 305px;
            }
        }
    }

    &__describe {
        position: absolute;
        top: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 629px;
        width: 100%;
        background-image: url('../../../public/png/Video\ preview.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 20;

        @include for-medium-up() {
            height: 403px;
            background-position: center;
            margin-bottom: 254px;
            
        }

    &__wrapper-line {
        left: 16px;
        position: absolute;
        bottom: -110px;

        @include for-small-up() {
            bottom: -200px;
        }

        @include for-medium-up() {
            bottom: -160px;
        }

    }

        &__headling {
            @include headlines(30px, $mainColorText, $FontText);
            margin-left: 16px;
            margin-top: 0;
            margin-bottom: 24px;

        }

        &__text {
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: $mainColorText;
            font-family: $FontText;
            margin: 0 8px 0 16px;
            max-width: 342px;
        }
    }
}