.main-page {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    margin-top: 0;
    overflow: hidden;
}

.animation-wrapper {
    max-width: 520px;
    width: 100%;
    margin-bottom: 100px;

    @include for-medium-up() {
        position: absolute;
        max-width: 350px;
        width: 100%;
        right: 40px;
        top: 50px;
        height: 300px;
    }

    @include for-large-up () {
        max-width: 520px;
        right: 100px;
    }

    @include for-e-large-up() {
        max-width: 550px;
         right: -50px;
    }
}