.bread-crumbs {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-bottom: 68px;
    max-width: 200px;
    list-style-type: none;
    padding: 0;

    @include for-e-large-up() {
        margin-left: 70px;
    }

    &__item {
        display: flex;
        align-items: center;

       & hr{
           width: 12px;
           height: 0.6px;
           background-color: $mainColorText;
           margin-left: 8px;
           margin-right: 8px;
       }
    }

    & a {
        text-decoration: none;
        color: $mainColorText;
        font-family: $FontText;
        font-weight: normal;
        font-size: 16px;
    }
}