@mixin button($saidPadding, $topPadding, $width, $height) {
    background: linear-gradient(180deg, #1AB1D3 0%, #128DA9 100%);
    padding: $topPadding $saidPadding $topPadding $saidPadding;
    max-width: $width;
    max-height: $height;
    color: #FEFEFE;
    border: none;
    box-shadow: 0px 10px 18px rgba(25, 171, 204, 0.3);
    font-family: $FontText;
    border-radius: 11px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

@mixin headlines($size, $color, $font) {
    font-size: $size;
    line-height: 140%;
    color: $color;
    font-family: $font;
    font-weight: 500;
}