$mainColorText : #EFEFEF;
$FontText : 'Red Hat Display','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$bar-width: 24px;
$bar-height: 2px;
$bar-spacing: 7px;
$color-background: #0e0220;
$stars: 200;
$min-dist: 105vmin;
$max-dist: 200vmin;
$min-size: .25vmin;
$max-size: .55vmin;
$perspective: 3000vmin;
$origin: ( 0vw, 0vh, 0vmin );
$rotation: ( 1, 1, 1 );
$time: 16s;
$colors: (
  #EFEFEF,
  #FFFFFF,
  #f5fcff
);